.header_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_imger {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  padding: 10px;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center 21%;
  border-radius: 100%;
  display: flex;
}

.header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.lisne {
  margin: 30px 0 0 0;
  background-color: #fff;
  width:10%;
  /* transform: rotate(90deg); */
  height: 2px;
}

.r{
  margin: 0;
}
.doni {
  width: 50% !important;
  text-align: center;
  margin: 20px 0;
  line-height: 150%;
}
.couple_name_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  inset: 0;
  margin: 30px 0;
  justify-content: center;
}

.couple_name {
  position: relative;
  font-family: "rapid";
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  z-index: 1;
  color: #fff;
  text-shadow: 1px 2px 1px #ff9d00;
}

.date {
  text-align: center;
  font-family: "arial";
  margin-bottom: 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
}

.date_section {
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}

@media (max-width: 634px) {
  .header {
    /* height: 70vh; */
    min-height: auto;
  }

  .header_imger {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: none;
    border-radius: 100%;
    margin-top: 30px;
    display: flex;
  }

  .date_section {
    bottom: 0px;
  }

  .header {
    padding-top: 130px;
  }

  .couple_name {
    font-size: 45px;
  }

  .couple_name_section {
    min-height: auto;
  }
}
